*{
    margin: 0;
}

.todo{
    background-color: blueviolet;
}

.todo_first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    margin-top: 0;


    .todo_input{
        margin: 1rem;
        width: 60vw;
        height: 2rem;
        border-radius: 2rem;
        border: 1px solid violet;

        &::placeholder{
            color: blue;
        }
}


    .todo_button{
        height: 2rem;
        width: 20vw;
        border-radius: 2rem;
        border: 1px solid violet;
        color: blue;
        
    }
}

.table{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    .category{
        width: 100vw;
        display: flex;
        justify-content: space-around;
        margin: 1rem;
    }

    .list{
            width: 80vw;
            padding: 0;
        .todo_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 1rem;

            .todo_value{
                width: 5rem;
            }
        }
        .todo_iconB{

            display: flex;
            .todo_iconButton{
                padding: 0.2rem;
                margin-left: 0.2rem;
                border-radius: 20%;
                
            }
        }
    }
}

